.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/AppConstrutores/FileContentIndex/0d4aff57-7c4c-4abd-82e0-092f853d9809.vsidx
.vs/AppConstrutores/FileContentIndex/1d4f0adb-655c-4e7d-8b11-e9e90f59f6ad.vsidx
.vs/AppConstrutores/FileContentIndex/02b85930-19b3-4085-a5a1-64a8501f1438.vsidx
.vs/AppConstrutores/FileContentIndex/003fe087-f092-453d-8de9-b39056c37021.vsidx
.vs/AppConstrutores/FileContentIndex/8f580adb-077c-45aa-9303-2b7dabc9ec91.vsidx
.vs/AppConstrutores/FileContentIndex/69c95020-0405-40af-8f21-093c2dcc47be.vsidx
.vs/AppConstrutores/FileContentIndex/81b66f51-31ba-448f-8dbf-6e22a7b449ac.vsidx
.vs/AppConstrutores/FileContentIndex/535c538b-c355-417a-a610-c5acd5b29561.vsidx
.vs/AppConstrutores/FileContentIndex/545b77b0-ca59-4bb7-8d92-9438cd89d296.vsidx
.vs/AppConstrutores/FileContentIndex/a8f0dbe5-161f-482f-b49c-858db678806f.vsidx
.vs/AppConstrutores/FileContentIndex/ea5e4a79-eadf-4142-8f41-4598906e4c92.vsidx
.vs/AppConstrutores/FileContentIndex/eec2ee92-261e-4aa0-a4b8-fd0c5c803bda.vsidx
.vs/AppConstrutores/v17/.suo
.vs/appconstrutor/v17/.wsuo
